<% if current_user %>
<% #binding.pry %>
<section class="container">
  <div class="row user-profile">
    <div class="col-md-4 image">
      <%= image_tag user.profile_image_uri_https %>
    </div>
    <div class="col-md-8 description">
      <table class="table">
        <thead>
          <tr>
            <th><%= user.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>登録日</td>
            <td colspan="3"><%= user.created_at.in_time_zone(user.time_zone).strftime("%Y-%m-%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td>フォロー</td>
            <td><%= user.friends_count %></td>
            <td>フォロワー</td>
            <td><%= user.followers_count %></td>
          </tr>
          <tr>
            <td>ツイート</td>
            <td><%= user.tweets_count %></td>
            <td>ふぁぼ</td>
            <td><%= user.favorites_count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="container">
  <ul class="tab-menu row">
    <li><span style="cursor:pointer" onclick="Array.prototype.forEach.call(getElementsByName('partial'),function(e){e.style.display='none'});getElementById('favolist').style.display='block';">ふぁぼリスト</span></li>
    <li><span style="cursor:pointer" onclick="Array.prototype.forEach.call(getElementsByName('partial'),function(e){e.style.display='none'});getElementById('favorarelist').style.display='block';">ふぁぼられリスト</span></li>
    <!--
    <li><span style="cursor:pointer" onclick="Array.prototype.forEach.call(getElementsByName('partial'),function(e){e.style.display='none'});getElementById('rtlist').style.display='block';">RTリスト</span></li>
    <li><span style="cuusor:pointer" onclick="Array.prototype.forEach.call(getElementsByName('partial'),function(e){e.style.display='none'});getElementById('rtrarelist').style.display='block';">RTられリスト</span></li>
    -->
  </ul>
  <ul class="tab-content row">
    <li name="partial" id="favolist" style="display:none"><%= render 'favolist' %></li>
    <li name="partial" id="favorarelist" style="display:none"><%= render 'favorarelist' %></li>
    <!--
    <li name="partial" id="rtlist" style="display:none"><%= render 'rtlist' %></li>
    <li name="partial" id="rtrarelist" style="display:none"><%= render 'rtrarelist' %></li>
    -->
  </ul>
</section>
<% else %>
<% end %>
