<% if current_user %>
<% #binding.pry %>
<section class="container">
  <div class="row user-profile">
    <div class="col-md-4 image">
      <%= image_tag user.profile_image_uri_https %>
    </div>
    <div class="col-md-8 description">
      <table class="table">
        <thead>
          <tr>
            <th><%= user.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>登録日</td>
            <td colspan="3"><%= user.created_at.in_time_zone(user.time_zone).strftime("%Y-%m-%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td>フォロー</td>
            <td><%= user.friends_count %></td>
            <td>フォロワー</td>
            <td><%= user.followers_count %></td>
          </tr>
          <tr>
            <td>ツイート</td>
            <td><%= user.tweets_count %></td>
            <td>ふぁぼ</td>
            <td><%= user.favorites_count %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<%= render 'favolist' %>
<% else %>
<% end %>
